
[*.{js,proto,ts,tsx}]
indent_style=tab
indent_size=tab
tab_width=4

[*.{appxmanifest,asax,ascx,aspx,build,c,c++,cc,config,cp,cpp,cs,cshtml,csproj,css,cu,cuh,cxx,dbml,discomap,dtd,h,hh,hpp,htm,html,hxx,inc,inl,ino,ipp,json,jsproj,jsx,lsproj,master,mpp,njsproj,nuspec,proj,props,razor,resjson,resw,resx,skin,StyleCop,targets,tasks,tpp,vb,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style=space
indent_size=3
tab_width=3

[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_style_var_elsewhere=true:hint
csharp_style_var_for_built_in_types=true:hint
csharp_style_var_when_type_is_apparent=true:hint
dotnet_style_predefined_type_for_locals_parameters_members=true:hint
dotnet_style_predefined_type_for_member_access=true:hint
dotnet_style_qualification_for_event=false:warning
dotnet_style_qualification_for_field=false:warning
dotnet_style_qualification_for_method=false:warning
dotnet_style_qualification_for_property=false:warning
dotnet_style_require_accessibility_modifiers=for_non_interface_members:hint

# ReSharper properties
resharper_align_multiline_binary_expressions_chain=true
resharper_autodetect_indent_settings=true
resharper_break_template_declaration=do_not_change
resharper_cpp_align_first_arg_by_paren=true
resharper_cpp_case_block_braces=end_of_line
resharper_cpp_empty_block_style=together
resharper_cpp_indent_size=3
resharper_cpp_int_align_comments=true
resharper_cpp_keep_blank_lines_in_code=1
resharper_cpp_keep_blank_lines_in_declarations=1
resharper_cpp_new_line_before_catch=false
resharper_cpp_new_line_before_else=false
resharper_cpp_other_braces=end_of_line
resharper_cpp_outdent_commas=true
resharper_cpp_simple_embedded_statement_style=line_break
resharper_cpp_space_after_keywords_in_control_flow_statements=false
resharper_cpp_space_before_colon_in_inheritance_clause=false
resharper_cpp_space_between_method_call_parameter_list_parentheses=true
resharper_cpp_space_between_method_declaration_parameter_list_parentheses=true
resharper_cpp_tab_width=3
resharper_cpp_type_declaration_braces=next_line
resharper_cpp_use_indent_from_vs=false
resharper_cpp_wrap_after_declaration_lpar=true
resharper_cpp_wrap_parameters_style=chop_if_long
resharper_disable_space_changes_before_trailing_comment=true
resharper_int_align_declaration_names=true
resharper_int_align_eq=true
resharper_line_break_before_comma_in_member_initializer_lists=true
resharper_linkage_specification_indentation=all
resharper_namespace_indentation=none
resharper_new_line_before_while=false
resharper_simple_block_style=on_single_line
resharper_simple_case_statement_style=on_single_line
resharper_space_before_for_colon=false
resharper_space_before_template_params=false
resharper_space_within_initializer_braces=true
resharper_space_within_template_params=true
resharper_type_declaration_braces=next_line
resharper_wrap_before_colon=true
resharper_wrap_before_comma_in_base_clause=true
resharper_wrap_braced_init_list_style=chop_if_long
resharper_wrap_ctor_initializer_style=chop_if_long

# ReSharper inspection severities
resharper_cpp_clang_tidy_modernize_use_nodiscard_highlighting=hint
